

body {
  color: #041b15;
  background-color: #ebfff1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-dec {
  text-decoration: none;
  list-style: none;
  font-size: larger;
  font-weight: 500;
  margin-top: 15px;
}

.borderr {
  border-right: 2px solid #131200;
}

img {
  max-width: 300px;
}

.link {
  font-weight: 550;
  color: #131200;
}

.link:hover, .link:focus {
  color: #22aaa1;
  text-shadow: none;
}

.header {
  background-color: #22aaa1;
  border-bottom: 2px solid #131200;
  height: 100px;
  
}

button {
  background-color: #22aaa1;
  color: #fcfffd;
}

button:hover {
  background-color: #136f63;
}

.category {
  min-height: 90vh;

}

a {
  color: #fcfffd;
}

a:hover {
  text-decoration: none;
  color: #faff73;
  text-shadow: 2px 2px #131200;
}

a:active {
  text-shadow: none;
}

.card a{
  font-weight: 600;
  font-size: large;
  color: #136f63;
  text-shadow: none;
}

.card a:hover, .card a:focus {
  color: #22aaa1;
  text-decoration: underline;
  text-shadow: none;
}